{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Student Portal{% endblock %}</title>
</head>

<body>

{% block content %}
{% endblock %}

{% if user.is_authenticated %}
<script>
function pingServer() {

    // If we are on the chat page, 'window.isChatPage' will be true
    // and we stop this ping to save server resources.
    if (window.isChatPage) return;

    fetch("{% url 'update_last_seen' %}", {
        method: "GET",
        credentials: "same-origin"
    });
}

setInterval(pingServer, 5000);
pingServer();
</script>
{% endif %}

</body>
</html>